/* DispatchOne Login Page */

.login-container {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}



.login-box {

    background: #1e2329;

    width: 380px;

    padding: 40px;

    border-radius: 10px;

    border: 1px solid #3f4650;

    border-top: 5px solid #b91c1c;

}



.login-box h1 {

    color: #ffffff;

    font-size: 36px;

    text-align: center;

    margin-bottom: 5px;

}



.login-box p {

    color: #cbd5e1;

    text-align: center;

    margin-bottom: 30px;

}



.login-box label {

    color: #f1f5f9;

    display: block;

    margin-bottom: 6px;

}



.login-box input {

    width: 100%;

    padding: 12px;

    margin-bottom: 20px;

    background: #121417;

    border: 1px solid #3f4650;

    border-radius: 5px;

    color: white;

    font-size: 16px;

}



.login-box button {

    width: 100%;

    background: #b91c1c;

    color: white;

    padding: 14px;

    border: none;

    border-radius: 6px;

    font-size: 16px;

    cursor: pointer;

}



.login-box button:hover {

    background: #ef4444;

}
